<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/tailwind.min.css"
    />
    <title>Success! - ZUT!CRYPTOSYSTEM</title>
  </head>
  <body
    class="flex tracking-wider text-center justify-center overflow-x-hidden items-center h-screen text-[#f2ebe9]"
    style="background-color: black"
  >
    <!-- Background Video -->
    <video
      src="../static/your-video-file.mp4"
      class="absolute inset-0 object-cover w-full h-full opacity-40"
      autoplay
      muted
      loop
    ></video>

    <!-- Success Message Container -->
    <div
      class="relative z-10 rounded-2xl bg-gray-900 bg-opacity-80 shadow-2xl sm:w-3/4 mx-5 p-8 md:p-10 lg:p-12"
    >
      <!-- Title -->
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-blue-600 text-center mb-4">
        ZUT HYBRID <span class="text-white">!</span> CRYPTOSYSTEM
      </h1>
      <h2 class="text-lg lg:text-2xl font-medium text-center text-white mb-6">
        Secure File Storage Using
        <em class="text-blue-400">Hybr!d Cryptography</em>
      </h2>

      <!-- Success Notice -->
      <h2 class="text-3xl sm:text-4xl font-semibold text-center text-green-400 mb-8">
        SUCCESS!
      </h2>
      <h3 class="text-lg lg:text-xl font-medium mb-6 text-white">
        Your file has been successfully encrypted!<br />
        <em
          >Download your encryption key now and share it securely with the recipient.<br />
          Please note, this is your only chance to download the key—don't lose it!</em
        >
      </h3>

      <!-- Action Buttons -->
      <div class="flex justify-center space-x-6">
        <a href="/return-key"
          ><button
            class="py-2 px-4 border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transform duration-200 rounded-lg"
          >
            Download Key
          </button></a
        >
        <a href="/home"
          ><button
            class="py-2 px-4 border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transform duration-200 rounded-lg"
          >
            Back to Home
          </button></a
        >
      </div>
    </div>
  </body>
</html>
