<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/tailwind.min.css"
    />
    <title>Upload File - ZUT!CRYPTOSYSTEM</title>
  </head>
  <body
    class="flex flex-col justify-center items-center h-screen text-[#f2ebe9] tracking-wider overflow-hidden"
    style="background-color: black"
  >
    <!-- Background Video -->
    <video
      src="../static/your-video-file.mp4"
      class="absolute inset-0 object-cover w-full h-full opacity-40"
      autoplay
      muted
      loop
    ></video>

    <!-- Main Content Container -->
    <div
      class="relative z-10 rounded-2xl bg-gray-900 bg-opacity-80 shadow-2xl sm:w-3/4 mx-5 p-8 md:p-10 lg:p-12"
    >
      <!-- Title -->
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-blue-600 text-center mb-4">
        QUANTUM <span class="text-white">!</span> CRYPTOSYSTEM
      </h1>
      <h2 class="text-lg lg:text-2xl font-medium text-center text-white mb-6">
        Secure File Storage Using
        <em class="text-blue-400">Hybr!d Cryptography</em>
      </h2>

      <!-- Form -->
      <form action="/data" method="POST" enctype="multipart/form-data">
        <div class="flex flex-col items-center">
          <label class="text-center font-semibold text-xl mt-12 mb-5 text-white">
            Attach your file to encrypt:
          </label>
          <input
            type="file"
            name="file"
            required
            class="w-64 mb-6 py-2 px-3 border border-gray-300 rounded-lg bg-white text-black"
          />

          <!-- Buttons -->
          <div class="flex justify-center space-x-6">
            <button
              type="submit"
              class="py-2 px-4 border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transform duration-200 rounded-lg"
            >
              Upload
            </button>
            <a href="/home">
              <button
                type="button"
                class="py-2 px-4 border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transform duration-200 rounded-lg"
              >
                Back to Home
              </button>
            </a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
